/*-------------------------------------------------------------------------------
 This section are the cards in the My Work experience section
 Description: These cards are the opportunities in my career; each card consist 
 in: a card, an Icon, Title and a description.
--------------------------------------------------------------------------------*/
#experience {
    background-color: rgb(187, 192, 179);
    line-height: 1.5;
    text-align: center;
}

#experience .card {
    border: 2px dashed rgb(106, 152, 156);
    margin-bottom: 20px;
    padding: 5px;
}

#experience .experience-card {
    width: 33.33333333%;
}

#experience .experience-card-current {
    width: 66.66%;
    text-align: left;
    padding: 25px;
    font-size: var(--font-size-increased);
}

#experience .description {
    font-size: 16px;
}

#experience .card-title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 20px;
    text-transform: uppercase;
}

.intro {
    margin: 15px 5em 0 5em;
}

/*-------------------------------------------------------------------------------
 This section handles the pseudo-class when it matches hover
 Description: This section will change appearances when user hovers over any of 
 the cards.    
--------------------------------------------------------------------------------*/
#experience .card:hover{
    font-weight: 700;
    color: brown;
    border: 2px dashed rgb(142, 20, 161);
    background-color: rgb(174, 163, 163);
}