.flex-container {
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    margin: 0 0 100px 00;
    /* border: 2px solid rgb(121, 25, 51); */
}

.clear-background{
    background-color: #aac1c1;
}

.clear-background-alternate{
    background-color: #c7ceca;
}

.title {
    width: 100%;
    padding: 25px;
    text-align: center;
    font-size: var(--font-size-double);
}

.section-wrap {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 80%;
    align-items: flex-stretch;
    border: 1px solid blue;
}

/** This section are the cards in the My Work experience section
Description: These cards are the opportunities in my career; each
card consist in: a card, an Icon, Title and a description */
.section-wrap .card{
    width: 33.33333333%;
    border: 2px dashed paleturquoise; 
    margin-bottom: 20px;
    text-align: center;
    padding:5px;
}

.section-wrap .icon{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.section-wrap .icon img{
    margin-top: 24px;
}

.section-wrap .title{
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
    text-transform: uppercase;
}

.section-wrap .description{
    line-height: 24px;
    font-size: 16px;
    line-height: 1.5;
}
/** End of section */

.content {
    width: 70%;
    border: 1px solid rgb(110, 186, 166);
}

.single {
    width: 30%;
    border: 1px solid rgb(217, 163, 231);
}

.center-image{
    display: flex;
    justify-content: center;
    align-items: center;
}

#gradient-back{
    background-image: linear-gradient(to right, rgba(255,0,0,0), var(--application-theme));
}
#gradient-back-alternate{
    background-image: linear-gradient(to right, rgba(255,0,0,0), var(--application-theme-alternate));
}