/*-------------------------------------------------------------------------------
The header Flex container - This flex container contains the navigation link that 
allow user to select the sections to review.
It starts from the cellphone as a base size, then it changes based on device
--------------------------------------------------------------------------------*/
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}

.header h1 {
  font-size: 24px;
}

.header nav {
  padding-top: 10px;
  margin-right: 20px;
  font-size: 18px;
}

.header nav ul {
  list-style-type: none;
}

.header nav ul li {
  /* make sure elements in list are in-line */
  display: inline-block;
  margin-left: 25px;
}

.header nav ul li a {
  text-decoration: none;
  color: var(--header-text-color);
  font-style: italic;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }

  .header nav {
    font-size: 22px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .header h1{
    font-size: 32px;
  }
  .header nav {
    font-size: 24px;
  }
}

.header a:hover {
  text-decoration: underline;
}

.stick-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
}