/*------------------------------------------------------
    Web portal - hero image
-------------------------------------------------------*/
.hero {
  width: 100%;
  height: 45vh;
  margin-bottom: 25px;
  background: url(../images/portal-html-image-hero.jpg) top center;
  background-size: cover;
  position: relative;
  content: "";
  alt: "";
}

.hero-image::before {
  content: "Display coding mesh image with HTML and Javascript declarations";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-indent: -9999px;
  overflow: hidden;
}

.hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  padding-top: 40px;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: flex-end;
  margin: 10px 50px 20px 0;
  color: #fff;
}

.hero h1 {
  font-size: var(--font-size-double);
  font-weight: 300;
  line-height: 56px;
}

.hero p {
  font-size: var(--font-size-increased);
  font-style: italic;
}

.hero p:hover {
  color: #cbcb5f;
}